body {
  font-family: Arial, Helvetica, sans-serif;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: black;

}

.counter {
  background-color: whitesmoke;
  padding: 25px 30px;
  border-radius: 8px;
  border: 2px solid red;
  text-align: center;
}

#count {
  font-size: 40px;
  margin-bottom: 40px;
  border: 2px solid black;
  border-radius: 8px;
}

.buttons  button{
padding:8px 16px;
margin:5px;
border:none;
border-radius: 4px;
cursor:pointer;
font-size: 14px;
}

#inc {
  background-color: lightskyblue;
}

#dec {
  background-color:black;
  color: white;
}

#reset {
  background-color: red;
}
